
.pokemonCard {
    width: min(320px, 100%);
    border: 10px solid ;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(5, 5, 5, 0.6);
}


.pokemonCard__header {
    height: 200px;
}


.pokemonCard__body {
    padding: 20px;

}


.pokemonCard__img {
    position: absolute;
    top: 0px;
    transition-duration: 400ms;
  

}
.pokemonCard__img:hover{
top: -10px;
}

.pokemonCard__name {
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
    text-transform: capitalize;

}

.pokemonCard__types {
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    margin: 4px 0;
}

.pokemonCard__type-subtitle {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15pk;

}

.pokemonCard__line {
    width: 200%;
    position: relative;
    left: -20%;
}

.pokemonCard__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);


}

.pokemonCard__stat {
    text-align: center;

}

.pokemonCard__stat-name {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: normal;

}

.pokemonCard__stat-value {
    font-size: 18px;
    margin-top: 4px;
}



/* background carg*/

.border-normal {
    border: 10px solid #735259;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-normal:hover {
  border: 10px solid #01fabc;
}

.border-fighting {
    border: 10px solid #96402A;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-fighting:hover {
  border: 10px solid #01fabc;
}
.border-flying {
    border: 10px solid #beb14c;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-flying:hover {
  border: 10px solid #01fabc;
}
.border-poison {
    border: 10px solid #5B3184;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-poison:hover {
  border: 10px solid #01fabc;
}
.border-ground {
    border: 10px solid #654008;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-ground:hover {
  border: 10px solid #01fabc;
}
.border-rock {
    border: 10px solid #7E7E7E;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-rock:hover {
  border: 10px solid #01fabc;
}
.border-bug {
    border: 10px solid #3c8846;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-bug:hover {
  border: 10px solid #01fabc;
}
.border-ghost {
    border: 10px solid #323569;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-ghost:hover {
  border: 10px solid #01fabc;
}
.border-steel {
    border: 10px solid #5E736C;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-steel:hover {
  border: 10px solid #01fabc;
}
.border-fire {
    border: 10px solid #F96D6F;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-fire:hover {
  border: 10px solid #01fabc;
}
.border-water {
    border: 10px solid #133258;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-water:hover {
  border: 10px solid #01fabc;
}
.border-grass {
    border: 10px solid #7EC6C5;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-grass:hover {
  border: 10px solid #01fabc;
}
.border-electric {
    border: 10px solid #93a818;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-electric:hover {
  border: 10px solid #01fabc;
}
.border-psychic {
    border: 10px solid #E52D2D;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-psychic:hover {
  border: 10px solid #01fabc;
}
.border-ice {
    border: 10px solid #6FBEDF;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-ice:hover {
  border: 10px solid #01fabc;
}
.border-dragon {
    border: 10px solid #478A93;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-dragon:hover {
  border: 10px solid #01fabc;
}
.border-dark {
    border: 10px solid #030706;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-dark:hover {
  border: 10px solid #01fabc;
}
.border-fairy {
    border: 10px solid #971B45;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-fairy:hover {
  border: 10px solid #01fabc;
}
.border-unknown {
    border: 10px solid #696767;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-unknown:hover {
  border: 10px solid #01fabc;
}
.border-shadow {
    border: 10px solid #6c31a3;
    transition-duration: 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.border-shadow:hover {
  border: 10px solid #01fabc;
}



/*background linear gradient*/

.bg-lg-normal {
    background: linear-gradient(180deg, #b3a5a5, #000);
  }
  .bg-lg-fighting {
    background: linear-gradient(180deg, #b6492d, #000);
  }
  .bg-lg-flying {
    background: linear-gradient(180deg, #c2b23e, #000);
  }
  .bg-lg-poison {
    background: linear-gradient(180deg, #7738b6, #000);
  }
  .bg-lg-ground {
    background: linear-gradient(180deg, #85540b, #000);
  }
  .bg-lg-rock {
    background: linear-gradient(180deg, #8d8282, #000);
  }
  .bg-lg-bug {
    background: linear-gradient(180deg, #3c8846, #000);
  }
  .bg-lg-ghost {
    background: linear-gradient(180deg, #5559a1, #000);
  }
  .bg-lg-steel {
    background: linear-gradient(180deg, #5E736C, #000);
  }
  .bg-lg-fire {
    background: linear-gradient(180deg, #d63d40, #000);
  }
  .bg-lg-water {
    background: linear-gradient(180deg, #6999d4, #000);
  }
  .bg-lg-grass {
    background: linear-gradient(180deg, #459c9b, #000);
  }
  .bg-lg-electric {
    background: linear-gradient(180deg, #cff304, #000);
  }
  .bg-lg-psychic {
    background: linear-gradient(180deg, #E52D2D, #000);
  }
  .bg-lg-ice {
    background: linear-gradient(180deg, #69b4d4, #000);
  }
  .bg-lg-dragon {
    background: linear-gradient(180deg, #478A93, #000);
  }
  .bg-lg-dark {
    background: linear-gradient(180deg, #030706, #000);
  }
  .bg-lg-fairy {
    background: linear-gradient(180deg, #971B45, #000);
  }
  .bg-lg-unknown {
    background: linear-gradient(180deg, #696767, #000);
  }
  .bg-lg-shadow {
    background: linear-gradient(180deg, #6c31a3, #000);
  }
