

.header__red{
    height: 100px;
    background-color: #dd1a1a ;
    position: relative;

}
.header__img{
    width: min(400px, calc(100% - 20px));
    position: absolute;
    bottom: 15;
    left: 20px;
}
.header__black{
    height: 50px;
    background-color: black;
    position: relative;
}

.header__pokeball{
    position: absolute;
    right: 40px;
    top: -20px;
    background-color: white ;
    border: 10px solid #0c0c0c;
    width: 90px;
    aspect-ratio: 1;
    border-radius: 50%;
}



.header__pokeball::after{
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    background-color: rgba(33, 33, 33, 1);
    border: 10px solid #0c0c0c;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.header__btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 40px;
    cursor: pointer;
    transition: background 200ms ease;
}
.header__btn-exit{
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.header__btn:hover{
    color: #dd1a1a;
}
